body {
  padding: 5em;
  font-family: Arial;
  text-align: center;
}

nav {
  font-weight: 300;
  color: white;
  background-color: #689F38;
  box-shadow: 0 5px 0 #8BC34A;
  padding-right: 10px;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

.logo {
  padding: 0 2px;
  height: 100%;
  width: auto;
}

.name {
  color: white;
  padding: 0;
  margin: 0 auto;
}

.lg {
  font-size: 2.5em;
}

.sm {
  font-size: 1.5em;
}

.marquee {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  background-color: #8BC34A;
  height: 24px;
  width: 100%;
  vertical-align: middle;
  left: 0;
  top: 50px;
  padding: 0;
  opacity: 0;
}

.js-marquee > p {
  color: white;
  margin: auto 10px;
}

nav:hover + .marquee {
  transition: opacity 0.2s linear;
  visibility: visible;
  opacity: 1;
}