body {
    min-width: 768px;
    padding: 75px 100px !important;
}

.input {
    border: 1px solid #DAE1E9;
    border-radius: 0 14px 14px 0;
    margin: 15px auto;
    font-size: 2.8rem;
    display: table;
    vertical-align: middle;
}

.address {
    display: table-cell;
    vertical-align: middle;
    width: 12em;
    padding: 5px;
    height: 3em;
    border: none;
}

.status {
    margin: 0 !important;
    color: red;
    background-color: white;
    border-left: 1px solid #DAE1E9;
    display: table-cell;
}

.click {
    margin: 0 !important;
    padding: 0;
    color: black;
    font-size: 1.2rem;
}

.addmore {
    font-size: 2rem;
    margin: 10px auto 0px auto;
}

.log {
    height: 150px;
    overflow: auto;
    margin-bottom: 30px;
    text-align: left;
}

.log p {
    margin: 0;
}